/*================================================================================================================= 960px общие*/
@media only screen and (min-width:200px) and (max-width:960px){

}
/*================================================================================================================= 680px*/
@media only screen and (min-width:200px) and (max-width:680px){
}

/*================================================================================================================= 480px*/
@media only screen and (min-width:200px) and (max-width:480px){
	.wrapp {
		width: 100%;
	}
	.payment .btn {
		max-width: 90%;
		margin-bottom: 50px;
	}
	.header-logo {
		width: 100%;
		float: none;
	}
	.payment .head, .payment .payment_types, .payment .payment_types_red {
		text-align: center;
	}
	.payment #payment_policy_result p span, .payment #payment_policy_result p b {
		font-size: 13px;
	}
}
/*================================================================================================================= 385px*/
@media only screen and (min-width:200px) and (max-width:385px){

}


