/* Оплата */

body {
	font-family: Arial;
}
body a {
	text-decoration: none;
}
.payment {

}
header {
	border-bottom: 10px double #ececec;
	margin-top: 0px;
	margin-bottom: 30px;
}
section {
	padding-top: 20px;
	padding-bottom: 20px;
}
section.bordered {
	border-bottom: 10px double #ececec;
}

.wrapp {
    width: 100%;
    margin: auto;
    max-width: 650px;
}
.header-logo{
    width: 150px;
    background: url(../img/logo_gross.png) center no-repeat;
    display: inline-block;
    height: 70px;
    position: relative;
	float: right;
}
.payment .head {
	font-size:24px;
	line-height:24px;
	color:#003665;
	height: 60px;
    position: relative;
    top: 1em;
	/*text-transform:uppercase;*/
}

.btn {
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
	background-color: #003665;

	font-size: 12px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #003665;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	display: block;
	padding: 0;
	margin: auto;
}

.payment .payment_types {
	height:60px;
	position:relative;
	color: #3fbd00;
	font-weight: bold;
}
.payment .payment_types_red {
	height:60px;
	position:relative;
	color: #3fbd00;
	font-weight: bold;
}

.payment .payment_types span, .payment .payment_types_red span {
    margin-top:3px;
}

.payment .payment_types .fa, .payment .payment_types_red .fa {
	vertical-align: middle;
	margin-right: 5px;
}

.payment #payment_policy_status #status_wait {
	color: #676767;
	text-align: center;
}
.payment #payment_policy_status #status_wait .icon-loader{
	margin-bottom: 30px;
}
.payment #payment_policy_result {
	display: none;
}
.payment #payment_policy_result.active {
	display: block;
}
.payment #payment_policy_result h3{
	color: #003665;
	font-size: 22px;
    text-transform: uppercase;
	margin-bottom: 20px;
    padding-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid #e3e3e3;
}
.payment #payment_policy_result p {
}
.payment #payment_policy_result p span,
.payment #payment_policy_result p b,
.payment #payment_policy_result p a
{
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	padding: 5px 10px;
	font-size: larger;
}
.payment #payment_policy_result span {
	text-align: right;
}
.payment #payment_policy_result b,
.payment #payment_policy_result a
{
	text-align: left;
}
.payment #policy-add-info {
	text-align: center;
    color: gray;
    font-size: small;
    margin-bottom: 20px;
    margin-top: 50px;
}
.payment .btn {
	margin-top: 40px;
    max-width: 40%;
}
#policy_error, #payment_error {
	display: none;
	text-align: left;
	color:#676767;
}
#policy_error.active, #payment_error.active {
	display: block;
}

#policy_error .fa, #payment_error .fa {
	margin-bottom: 30px;
}
